Repository pagopa/pagopa-nodo-re-to-datastore, pull requests merged in 2023-09, with the labels that each got.

#13 [NOD-472] feat: migrating deploy from AZDO to GHA
  .github/workflows/04_release_deploy.yml
  .identity/00_data.tf
  .identity/02_application_action.tf
Labels: ignore-for-release, size/small

#15 fix: Log-lvl and batch-size
  host.json
Labels: size/small

#14 [NOD-472] fix: updated CD pipeline
  .github/workflows/04_release_deploy.yml
  .identity/03_github_environment.tf
Labels: ignore-for-release, size/small

#16 fix: [NOD-472] migrazione cd su git hub action per nodo re to datastore
  .github/workflows/04_release_deploy.yml
Labels: ignore-for-release, size/small

#17 [NOD-472] CD Migration: various fixes
  .github/workflows/04_release_deploy.yml
  pom.xml
Labels: ignore-for-release, size/small

#18 feat: added Slack notification
  .github/workflows/04_release_deploy.yml
  .identity/00_data.tf
  .identity/03_github_environment.tf
  pom.xml
Labels: size/small, new-release

#19 Housekeeping pipeline
  .devops/deploy-pipelines.yml
  .github/workflows/04_release_deploy.yml
Labels: size/small, new-release

#21 fix: solved wrong semver
  .github/workflows/04_release_deploy.yml
Labels: ignore-for-release, size/small

#23 Migration to templated actions
  .github/workflows/04_release_deploy.yml
  .github/workflows/04_self_hosted.yml
  pom.xml
Labels: ignore-for-release

#24 fix: add input for semver calculation
  .github/workflows/04_release_deploy.yml
  .github/workflows/04_self_hosted.yml
  pom.xml
Labels: ignore-for-release, size/small
